@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: powderblue;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}